.item__detail__container {
    background-color: #eee;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 2rem 6rem;
}

.item__detail__product {
    background-color: #fff;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.1);
}

.item__detail__image {
    width: 100%;
    padding: 1rem;
    display: flex;
}

.item__detail__image img {
    width: 100%;
    display: flex;
    object-fit: contain;
}
.item__detail__detail {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.item__detail__detail > div {
    border-bottom: 1px solid #ccc;
    padding: 2rem;
}

.item__detail__detail > div:nth-last-child(1) {
    border: none;
}

.item__detail__product h3 {
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: lighter;
}

.item__detail__product h4 {
    font-size: 1.3rem;
}

.item__detail__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item__detail__icon {
    display: flex;
    gap: 0.5rem;
    color: green;
}

.item__detail__price {
    color: steelblue;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.quantity_in_cart {
    background-color: red;
}

.link {
    color: white;
    display: flex;
}
