.item_container {
    margin-top: 50px;
}

.product__container {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 3rem;
}

.product__container:nth-last-child(1) {
    margin-bottom: 2rem;
}

.title {
    padding: 3rem 1rem;
    text-align: center;
}
