.cart__container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.cart__products__container {
    /* display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
    position: relative; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.cart__products {
}

.cart__totalToPay {
    background-color: #eee;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 10px;
}

.cart__totalToPay span {
    flex-grow: 1;
    flex-shrink: 1;
}

.totalPay_btn {
    width: 100%;
    padding: 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid steelblue;
    color: steelblue;
}

.totalPay_btn.disable {
    width: 100%;
    padding: 0.8rem;
    text-transform: uppercase;
    border: 1px solid lightgrey;
    color: lightgray;
}

.cart__title {
    border-bottom: 1px solid red;
    padding: 0 0 1rem 0;
}

.product__cart__item {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    cursor: pointer;
}

.product__image img {
    width: 100px;
}

.product__title {
    text-transform: uppercase;
}

.product__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.clear__cart {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.product__delete:hover {
    color: red;
    transition: color 0.1s ease;
}

.cart__subTitle {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .cart__products__container {
        grid-template-columns: 1fr;
    }
}
