.check_card {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10px;
    width: 100%;
    box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 2px 28px 0px rgba(0, 0, 0, 0.2);
}

.check_card img {
    width: 50px;
}

.check_card h3 {
    font-size: 1rem;
}
